.project {
    width: 225px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 6px;
    transition: .2s;
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
}

.project:hover {
    background-color: rgba(80, 48, 229, 0.08);
}

.active {
    background: rgba(80, 48, 229, 0.08);
}

.project > p {
    color: #787486;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
}

.active > p {
    color: #0D062D;
}