.task {
    width: 314px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    padding: 24px 26px;
    margin-bottom: 30px;
}

.task__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.task__header > p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    padding: 1px 3px;
}

.Low {
    color: #D58D49;
    background-color: rgba(223, 168, 116, 0.20);
}

.High {
    color: #D8727D;
    background-color: rgba(216, 114, 125, 0.10);  
}

.completed {
    color: #68B266;
    background-color: rgba(131, 194, 157, 0.20);
}

.task__title {
    color: #0D062D;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.task__description {
    color: #787486;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.task__footer {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__right {
    display: flex;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__right .component {
    display: flex;
    align-items: center;
    color: #787486;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__right .component:nth-child(1) {
    margin-right: 12px;
}

.footer__right .component > img {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 3px;
}

.footer__left > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid white;
}