* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App */
.App {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

/* Sidebar */
.sidebar {
  border: 1px solid #DBDBDB;;
  width: 260px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: .3s;
}

.sidebar__center {
  padding: 15px;
}

.sidebar__header {
  display: flex;
  padding: 40px 15px;
  border-bottom: 1px solid #DBDBDB;
}

.sidebar__header > img {
  margin-right: 10px;
}

.sidebar__header > p {
  flex: 1;
  color: #0D062D;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sidebar__header > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.sidebar__links {
  margin-bottom: 10px;
  border-bottom: 1px solid #DBDBDB;
}

.projects__header {
  display: flex;
}

.projects__header > p {
  width: 215px;
  padding: 8px;
  color: #787486;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sidebar__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 16px;
  height: 233px;
  margin-top: 55px;
  padding: 15px;
}

.sidebar__footer > img {
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(252, 214, 74, 0.70);;
  transform: translate(0px, -30px);
}

#footer-1 {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -20px;
  margin-bottom: 20px;
}
#footer-2 {
  color: #787486;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
#footer-3 {
  width: 166px;
  height: 40px;
  border-radius: 4px;
  background: #FFF;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dashboard */
.dashboard {
  flex: 1;
  overflow-y: scroll;
}

.dashboard__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.dashboard__tasks {
  padding: 0 25px;
}

.dashboard-tasks-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(334px, 390px));
  justify-content: center;
  grid-gap: 20px;
}

._dashboard-tasks {
  border-radius: 16px 16px 0px 0px;
  background: #F5F5F5;
  width: 354px;
  padding: 20px;
}

.header-todo {
  margin-bottom: 28px;
}

.header-onProgress {
  margin-bottom: 28px;
}

.header-done {
  margin-bottom: 28px;
}

.tasks__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tasks__header > p {
  flex: 1;
  margin-left: 16px;
  color: #0D062D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.count {
  display: inline-block;
  margin-left: 10px;
  color: #625F6D;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #E0E0E0;
  text-align: center;
}

.tasks-center {

}


@media screen and (max-width: 900px) {
    .sidebar {
      width: 0;
      position: absolute;
      z-index: 100;
      background-color: white;
    }

    /* .sidebar.active {
      width: 260px;
    } */
}